@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
}
.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 640px) {
  .responsive-container {
    width: 70vw; /* Set circular container width relative to viewport */
    height: 70vw; /* Ensure height matches width for a perfect circle */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Clip excess parts of the image */
    margin: 0 auto 1.5rem; /* Center container and add space below */
  }

  .responsive-image {
    width: 100%; /* Scale to container width */
    height: 100%; /* Scale to container height */
    object-fit: cover; /* Ensure the image fills the circle */
    object-position: 50% 25%; /* Adjust to focus more on the face */
  }
}

/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
